
#User clock 1 - 100 Mhz
NET "clk" period = 10.000;
NET "clk" LOC = "L29";

#LEDS
NET "DBG_LED<0>" LOC = "AL7";
NET "DBG_LED<1>" LOC = "AP6";
NET "DBG_LED<2>" LOC = "AN5";
NET "DBG_LED<3>" LOC = "AL6";

#LCD
NET "FPGA_LCD_DB<0>" LOC = "R4";
#NET "FPGA_LCD_DB<1>" LOC = "R5";
#NET "FPGA_LCD_DB<2>" LOC = "T5";
#NET "FPGA_LCD_DB<3>" LOC = "T4";
#NET "FPGA_LCD_DB<4>" LOC = "AA11";
#NET "FPGA_LCD_DB<5>" LOC = "AA10";
#NET "FPGA_LCD_DB<6>" LOC = "AA9";
#NET "FPGA_LCD_DB<7>" LOC = "Y10";

#LCD CTR
NET "FPGA_LCD_E" LOC = "W10";
NET "FPGA_LCD_RW" LOC = "Y9";
NET "FPGA_LCD_RS" LOC = "Y8";

#I2C VIDEO
NET "IIC_SDA_VIDEO" LOC = "M7";
NET "IIC_SCL_VIDEO" LOC = "L9";

#DVI
NET "DVI_D<0>" LOC = "AP15" | SLEW = "FAST";
NET "DVI_D<1>" LOC = "AP16" | SLEW = "FAST";
NET "DVI_D<2>" LOC = "AL26" | SLEW = "FAST";
NET "DVI_D<3>" LOC = "AL27" | SLEW = "FAST";
NET "DVI_D<4>" LOC = "AN16" | SLEW = "FAST";
NET "DVI_D<5>" LOC = "AN15" | SLEW = "FAST";
NET "DVI_D<6>" LOC = "AM26" | SLEW = "FAST";
NET "DVI_D<7>" LOC = "AM27" | SLEW = "FAST";
NET "DVI_D<8>" LOC = "AM16" | SLEW = "FAST";
NET "DVI_D<9>" LOC = "AK15" | SLEW = "FAST";
NET "DVI_D<10>" LOC = "AJ30" | SLEW = "FAST";
NET "DVI_D<11>" LOC = "AK30" | SLEW = "FAST";
NET "DVI_XCLK_P" LOC = "AG8" | SLEW = "FAST";
NET "DVI_XCLK_N" LOC = "AH8" | SLEW = "FAST";
NET "DVI_HSYNC" LOC = "AP27" | SLEW = "FAST";
NET "DVI_VSYNC" LOC = "AM17" | SLEW = "FAST";
NET "DVI_DE" LOC = "M8" | SLEW = "FAST";
NET "DVI_RESET_B" LOC = "AM9" | SLEW = "FAST";
