//! **************************************************************************
// Written by: Map P.20131013 on Wed Feb 13 10:38:04 2019
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "L29" LEVEL 1;
COMP "DVI_DE" LOCATE = SITE "M8" LEVEL 1;
COMP "IIC_SDA_VIDEO" LOCATE = SITE "M7" LEVEL 1;
COMP "IIC_SCL_VIDEO" LOCATE = SITE "L9" LEVEL 1;
COMP "DVI_D<0>" LOCATE = SITE "AP15" LEVEL 1;
COMP "DVI_D<1>" LOCATE = SITE "AP16" LEVEL 1;
COMP "DVI_D<2>" LOCATE = SITE "AL26" LEVEL 1;
COMP "DVI_D<3>" LOCATE = SITE "AL27" LEVEL 1;
COMP "DVI_D<4>" LOCATE = SITE "AN16" LEVEL 1;
COMP "DVI_D<5>" LOCATE = SITE "AN15" LEVEL 1;
COMP "DVI_D<6>" LOCATE = SITE "AM26" LEVEL 1;
COMP "DVI_D<7>" LOCATE = SITE "AM27" LEVEL 1;
COMP "DVI_D<8>" LOCATE = SITE "AM16" LEVEL 1;
COMP "DVI_D<9>" LOCATE = SITE "AK15" LEVEL 1;
COMP "DVI_D<10>" LOCATE = SITE "AJ30" LEVEL 1;
COMP "DVI_D<11>" LOCATE = SITE "AK30" LEVEL 1;
COMP "DVI_HSYNC" LOCATE = SITE "AP27" LEVEL 1;
COMP "DVI_VSYNC" LOCATE = SITE "AM17" LEVEL 1;
COMP "FPGA_LCD_RS" LOCATE = SITE "Y8" LEVEL 1;
COMP "FPGA_LCD_RW" LOCATE = SITE "Y9" LEVEL 1;
COMP "DVI_RESET_B" LOCATE = SITE "AM9" LEVEL 1;
COMP "DBG_LED<0>" LOCATE = SITE "AL7" LEVEL 1;
COMP "DBG_LED<1>" LOCATE = SITE "AP6" LEVEL 1;
COMP "DBG_LED<2>" LOCATE = SITE "AN5" LEVEL 1;
COMP "DBG_LED<3>" LOCATE = SITE "AL6" LEVEL 1;
COMP "FPGA_LCD_E" LOCATE = SITE "W10" LEVEL 1;
COMP "DVI_XCLK_N" LOCATE = SITE "AH8" LEVEL 1;
COMP "DVI_XCLK_P" LOCATE = SITE "AG8" LEVEL 1;
COMP "FPGA_LCD_DB<0>" LOCATE = SITE "R4" LEVEL 1;
NET "rclk" PERIOD = 6.667 ns HIGH 50%;
NET "clk_IBUFG1" PERIOD = 10 ns HIGH 50%;
SCHEMATIC END;

